*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu VIC WA NT Beginner", cursive;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    padding: .5rem  1rem;
    background: skyblue;
    color: black;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* navbar */
/* nav-top */
.navbar{
    width: 100%;
}
.navbar .nav-top{
    background-color:black;
    color:white;
    text-align: center;
}

.navbar .nav-top span{
    color: gold;
}

/* nav-bottom */
.navbar .nav-bottom{
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.navbar .nav-bottom .logo .logo-text {
    color: black;
}

.navbar .nav-bottom .logo .logo-text span{
    color: rgb(238, 157, 5);
}

.navbar .nav-bottom .options{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    font-size: large;
}

.navbar .nav-bottom .options li a:hover{
    color: red;
}

/* slider-content */
.slider-content{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    align-items: center;
}

.slider-content .text{
    text-align: justify;
    font-size: large;
    padding: 0 20px;
}

.slider-content .text a{
    padding: .5rem 1rem;
    background: gold;
    border: 1px solid transparent;
    border-radius: .5rem;
    margin-top: 20px;
}

.slider-content .text a:hover{
    background: goldenrod;
}

.slider-content img{
    align-items: center;
}

/* side-bar */
.side-bar{
    background: white;
    /* border: 1px solid rgb(29, 28, 28); */
    margin-top: 10px;
}
.side-bar .types{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    font-size: 25px;
}

.side-bar .types li a:hover{
    color: red;
}

/* popular-product-lists */
.popular .heading{
    text-align: center;
    margin-top: 10px;
}

.popular .container{
    padding: 42px;
}

.popular .container .posts{
    margin-bottom: 20px;
}

.popular .container .top-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular .container .bottom-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* recent-posts */
.new-arrivals .recents{
    text-align: center;
}

.new-arrivals .container .posts{
    margin-bottom: 20px;
}

.new-arrivals .recents .part-i{
    color: rgb(7, 69, 110);
}

.new-arrivals .container{
    padding: 42px;
}

.new-arrivals .container .top-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-arrivals .container .bottom-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* user-testimonials */
.user .head{
    text-align: center;
}

.user .head h1 span{
    color: rgb(238, 157, 5);
}

.user .container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 50px 50px;
}

.user .container .testimonials{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 50px;
}

.user .container .testimonials img{
    border-radius: 10px;
}

/* do's and don't*/
.Container{
    position: relative;
}

.Container .text{
    position: absolute;
    top: 20%;
    left: 45%;

}

/* footer */
.footer{
    background-color: gray;
    color: white;
    text-align: center;
}

@media all and (max-width: 500px) {
    /* slider-content */
    .slider-content{
        display: flex;
        flex-wrap: wrap;
        background-color: whitesmoke;
        align-items: center;
    }

    .slider-content .text{
        text-align: justify;
        font-size: large;
        padding: 0 20px;
    }

    .slider-content .text a{
        padding: .5rem 1rem;
        background: gold;
        border: 1px solid transparent;
        border-radius: .5rem;
        margin-top: 20px;
    }

    .slider-content .text a:hover{
        background: goldenrod;
    }

    .slider-content img{
        align-items: center;
        width: 400px;
    }

    /*popular posts */
    .popular .container .top-container{
        display: inline-block;
    }
    
    .popular .container .top-container .posts img{
        width: 100%;
        height: auto;
    }

    .popular .container .bottom-container{
        display: inline-block;
    }
    
    .popular .container .bottom-container .posts img{
        width: 100%;
        height: auto;
    }

    /* recent posts */
    .new-arrivals .container .top-container{
        display: inline-block;
    }

    .new-arrivals .container .top-container .posts img{
        width: 100%;
        height: auto;
    }

    .new-arrivals .container .bottom-container{
        display: inline-block;
    }

    .new-arrivals .container .bottom-container .posts img{
        width: 100%;
        height: auto;
    }

    /* user-testimonials */
    .user .container{
        display: inline-block;

    }

    .user .container .testimonials img{
        width: 100%;
        height: auto;
    }
    
    /* do's and don't */
    .Container{
        position: relative;
    }

    .Container .text{
        font-size: small;
        position: absolute;
        top: 8%; 
        left: 20%;
        
    }

    .Container img{
        width: 400px;
    }

    /* footer */
    .footer{
        background-color: gray;
        color: white;
        text-align: center;
    }
}

@media all and (min-width:501px ) and (max-width: 800px) {
    /* slider-content */
    .slider-content{
        display: flex;
        flex-wrap: wrap;
        background-color: whitesmoke;
        align-items: center;
    }

    .slider-content .text{
        text-align: justify;
        font-size: large;
        padding: 0 20px;
    }

    .slider-content .text a{
        padding: .5rem 1rem;
        background: gold;
        border: 1px solid transparent;
        border-radius: .5rem;
        margin-top: 20px;
    }

    .slider-content .text a:hover{
        background: goldenrod;
    }

    .slider-content img{
        align-items: center;
        width: 400px;
    }

    
    /* user-testimonials */
    
    .user .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        max-width: 100%;

    }

    .user .container .testimonials img{
        width: 100%;
        height: auto;
    }

    /* do's and don't */
    .Container{
        position: relative;
    }
    
    .Container .text{
        position: absolute;
        top: 8%;
        left: 20%;
    }

    .Container img{
        width: 400px;
    }
}

@media all and (min-width:801px ) and (max-width: 1300px) {

    /* user-testimonials */
    
    .user .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        max-width: 100%;

    }

    .user .container .testimonials img{
        width: 100%;
        height: auto;
    }

    /* do's and don't */
    .Container{
        position: relative;
    }
    
    .Container .text{
        position: absolute;
        top: 8%;
        left: 20%;
    }

    .Container img{
        width: 400px;
    }

}